{% extends 'users.html' %}
{% block content %}
<img src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:100%">
<h1 class="carousel-caption" style="font-size: 60px;">ABOUT US</h1>
<section >
    <div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</div>
	<br><br>
    <p><span style="font-size:16px;"><strong>Our Mission</strong></span></p>

<ul>
	<li><span style="font-size:14px;">To redefine your grocery shopping experience with our premium and wide range&nbsp;of products. Be it freshest fruits and vegetable, daily need products, kitchen essentials and more.</span></li>
	<li><span style="font-size:14px;">For us, our customer needs comes first. Our Aim is to offer the very Best quality, at best prices and deals.</span></li>
	<li><span style="font-size:14px;">Our effort is towards becoming the one and only choice for customers when it comes to grocery shopping and to provide them with a service they can never forget and cannot compare.</span></li>
	<li><span style="font-size:14px;">Get the products directly at door steps,
		easy refunds if the product is not correct especially if for the perishable items,
		price comparison for the items</span></li>
		<li><span style="font-size:14px;">Saving remarkable time of Customers</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-size:16px;"><strong>Our Vision</strong></span></p>

<ul>
	<li><span style="font-size:14px;">To be able to reach each and every household in the community and become an alternative name for grocery store.</span></li>
	<li><span style="font-size:14px;">To be India’s most recognized and dominant platform when it comes to fulfilling everyday customer needs in grocery items.</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-size:16px;"><strong>Our Core Values</strong></span></p>

<p><span style="font-size:14px;">At Daily Mart Mumbai, We Believe in&nbsp;</span></p>

<ul>
	<li><span style="font-size:14px;">Providing best class customer service.</span></li>
	<li><span style="font-size:14px;">Maximizing sales and business unit growth.</span></li>
	<li><span style="font-size:14px;">An engaged, trusting and mutually profitable relationship between franchisee and franchisor.</span></li>
	<li><span style="font-size:14px;">Continually improving, sharing and implementing the System.</span></li>
	<li><span style="font-size:14px;">Operating in a safe environment</span>.</li>
</ul>

        </div>

    </div>
  
</section>
{% endblock %}