<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    
</head>
<body>
    <img src="https://live.staticflickr.com/7920/46690266712_f0fb742442_b.jpg" style="margin-left:100px">
    
          <p style="text-align: center;">We will give you message back soon. </p>
            <br><br>
            
            <a href="users">
            <p style="text-align: center;"> click here to go home page</p></a>
    {% for i in data %}
    <h1>{{i.Name}}</h1>
    {% endfor %}
</body>
</html>