{% extends 'users.html' %}
{% block content %}
<h1 style="text-align: center;">You have Paid Successfully </h1>
<h4 style="text-align: center;"><u>Your ordered history</u></h4>
<br><br>
<section>
<div>
   
    <table style="margin-left: 160px;">
        <tr>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">User Name</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Email</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Phone</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Product Name</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Product Quantity</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Product Price</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Total Price</th>
           
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">status</th>
            
           
        </tr>
        {% for i in data %}
        <tr>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.userid.Name}}</td>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.userid.email}}</td>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.userid.phone}}</td>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.cartid.productid.productname}}</td>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.cartid.quantity}}</td>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.cartid.productid.productprice}}</td>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.cartid.total}}</td>
            
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">
            {% if i.status == 1 %}
    <h4 style="color:blue">Delivered</h4>
    
    <p>Issue with product? 
       
        <a href="{% url 'complaint' id=i.id %}">
        <button type="button" class="btn btn-info">COMPLAINT</button>
    </a>
    
</p>
    
    {% else %}
    <h4 style="color: rgb(205, 50, 50);">Not Delivered</h4>
    {% endif %}
            
        </td>
        {% endfor %}
       
        </tr>
        
        
    </table>
   
   
       

    
    
</div>
</section>
<br><br><br>
<section>
    <h1 style="text-align: center;"><u>Replay Messages</u></h1>
    <br><br>
    <div>
    <table style="margin-left: 160px;">
        <tr>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">User Name</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Email</th>
            
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Product Name</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Your Complaint</th>
            <th style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">Replay</th>
            
        </tr>
        {% for i in data1 %}
        <tr>
            <td style="border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;">{{i.userid.Name}}</td>
             <td style="border: 1px solid #dddddd;
             text-align: left;
             padding: 8px;">{{i.userid.email}}</td>
             
             <td style="border: 1px solid #dddddd;
             text-align: left;
             padding: 8px;">{{i.complaintid.compid.cartid.productid.productname}}</td>
             <td style="border: 1px solid #dddddd;
             text-align: left;
             padding: 8px;">{{i.complaintid.issue}}</td>
             <td style="border: 1px solid #dddddd;
             text-align: left;
             padding: 8px;">{{i.message}}</td>
             
        </tr>
        {% endfor %}
    </table>
</div>
</section>

{% endblock %}